<mat-card>
<mat-toolbar style="background-color: #ffffff; color: #000;">
    <button mat-icon-button class="blue-icon">
        <mat-icon>assignment</mat-icon>
      </button>
      <span>Jira Task</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="blue-icon">
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-icon-button class="blue-icon">
        <mat-icon>help</mat-icon>
      </button>
      <button mat-icon-button class="blue-icon">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button  class="blue-icon">
        <mat-icon>account_circle</mat-icon>
      </button>
   
</mat-toolbar>
</mat-card>
